html{
    margin:0px;
    padding:0px;
}

body{
    background-color: #fdf6e3;
    margin: 0px;
    padding: 0px;
    color: #657b83;
}

a{
    color: #073642;
    text-decoration: none;
}

#body{
    max-width: 1440px;
    margin: 0 auto;
}

.title{
    margin-top: 30px;
    font-size: 64px;
}

.explanation{
    padding-top: 15px;
}

.models .title{
    font-size: 32px;
}

.models{
    margin-left: 15px;
}

.model{
    margin-left: 20px;
}

canvas{
    background-color: white;
}